*{
    margin:0%;
    padding:0%;
}

@media screen and (max-width:480px){
    .mobile{
        display:block;

    }
    #div1{
        display: none;
    }
    #main_div2{
        display:none;
    }
    #div5{
        display:none;
    }
    #div6{
        display:none;
    }
    .mobile{
        width:100%;
        height:100vh;
    }
    
    
}